.Header {
    padding-top: 55px;
    padding-bottom: 55px;
    width: 100%;
    text-align: center;
}

.Header svg {
    transition: 200ms;
}

.Header svg:hover {
    transform: translateY(-2px);
}

@media screen
and (max-width: 768px) {
    .Header {
        padding-top: 30px;
        padding-bottom: 25px;
    }

    .Header svg {
        height: 45px;
        width: 78px;
    }
}
