.ColorPicker {
    max-width: 320px;
    margin: 0 auto 60px auto;
}

.ColorPickerBody > div {
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 1;
}

.ColorPickerBody > div:nth-of-type(5) {
    margin-right: 0;
}

.ColorPicker > .ColorPickerBody {
    display: flex;
    flex-wrap: wrap;
}

.ColorPicker > p {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 30px;
    text-align: center;
    display: block;
}
