.ColorPicker {
    max-width: 320px;
    margin: 0 auto 60px auto;
}

.ColorPickerBody > .ColorBg {
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    position: relative;
}

.activeColor {
    border: 2px solid #D5D5D5;
    box-sizing: border-box;
    position: relative;
}

.activeColor:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: url('/svg/check-symbol.svg') center no-repeat;
}

.ColorPickerBody > .ColorBg:nth-of-type(5) {
    margin-right: 0;
}

.ColorPicker > .ColorPickerBody {
    display: flex;
    flex-wrap: wrap;
}

.ColorPicker > p {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 30px;
    text-align: center;
    display: block;
}
