.Input {
    background: #ECECEC;
    border-radius: 10px;
    padding: 17px 23px;
    margin-bottom: 10px;
    display: block;
    box-shadow: none;
    width: 100%;
    border: none;
    box-sizing: border-box;
    height: 50px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #8A8A8A;
}

.Input:focus{
    box-shadow: none;
    outline: none;
}

.Input[type='file'] {
    width: 110px;
    height: 110px;
    padding: 5px;
    margin-right: 20px;
}

.Input[type='radio'] {
    visibility: hidden;
    width: 50px;
    height: 50px;
    margin: 0;
    position: relative;
    z-index: 5;
}

