.LoaderSpinner {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background: rgba(40, 40, 40, 0.2);
    backdrop-filter: blur(15px);
}

.LoaderSpinner .LoaderSpinnerBody {
    text-align: center;
    margin: 15% auto;
    width: 630px;
    padding: 10px;
    border-radius: 15px;
}

@media screen
and (max-width: 768px) {
    .LoaderSpinner .LoaderSpinnerBody{
        width: 80%;
        margin: 60% auto;
        box-sizing: border-box;
    }
}
