.Auth {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}

.Auth > div {
    width: 100%;
    max-width: 720px;
}

.AuthVk iframe {
    opacity: 0.00001;
    margin-top: -94px;
    margin-left: -216px;
    position: relative;
    z-index: 5;
}

.AuthVkBtn {
    background: #5181b8;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    overflow: hidden;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    vertical-align: bottom;
}

.AuthVk:before {
    content: '';
    background-image: url("/images/vk.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    rigth: 0;
    margin: auto;
    top: 48%;
    z-index: 0;
    color: white;
}

.AuthVk {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}

.Auth > div > h1 {
    text-align: center;
}

.Auth .AuthHeader {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.Auth .AuthHeader:last-of-type {
    margin-bottom: 70px;
}

.Auth .fbLogin {
    border: 0;
    background: #2A61A1;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    position: relative;
    vertical-align: bottom;
}

.Auth .fbLogin:before {
    content: '';
    background-image: url("/images/fb.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    position: absolute;
    background-size: 40%;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    margin: auto;
    top: 18%;
    z-index: 0;
    color: white;
}

.authContentHeaderMobile {
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.authContentHeaderMobile strong {
    font-weight: bold;
}

.Container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}

.Container > div {
    width: 100%;
    max-width: 1015px;
    display: flex;
}

@media screen
and (max-width: 768px) {
    .Auth .fbLogin {
        padding: 10px;
        border-radius: 5px;
        width: 54px;
        height: 54px;
        font-size: 18px;
    }

    .AuthVkBtn {
        background: #5181b8;
        border-radius: 5px;
        display: inline-block;
        overflow: hidden;
        width: 54px;
        height: 54px;
        margin-left: 20px;
        vertical-align: bottom;
        padding: 0;
    }

    .AuthVk iframe {
        opacity: 0.00001;
        margin-top: -111px;
        margin-left: -216px;
        position: relative;
        z-index: 5;
        transform: scale(1.7);
    }

    .AuthVk:before {
        top: 71%;
    }

    .Container > div {
        width: 100%;
        max-width: 100%;
        display: block;
    }
}

