.Auth {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}

.Auth > div {
    width: 100%;
    max-width: 720px;
}

.AuthVk iframe {
    margin-top: -94px;
    margin-left: -216px;
}

.AuthVkBtn {
    background: #5181b8;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    overflow: hidden;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    vertical-align: bottom;
}

.AuthVk {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 16px;
    height: 25px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}

.Auth > div > h1 {
    text-align: center;
}

.Auth .AuthHeader {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.Auth .AuthHeader:last-of-type {
    margin-bottom: 70px;
}

.Auth .fbLogin {
    border: 0;
    background: #2A61A1;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: #fff;
}

.Container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}

.Container > div {
    width: 100%;
    max-width: 1015px;
    display: flex;
}
