.ListPreview {
    max-width: 690px;
    width: 100%;
    padding: 10px;
    background: darkred;
    border-radius: 15px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.ListPreviewBody {
    border-radius: 15px;
    background: #FFFFFF;
    padding: 64px 106px 58px 106px;
    text-align: center;
}

.ListPreviewError {
    text-align: center;
    max-width: 690px;
    width: 100%;
    padding: 10px;
    background: transparent;
    border-radius: 15px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.ListPreviewError img {
    margin-bottom: 68px;
    margin-top: 30px;
}

.ListPreviewError p:first-of-type {
    font-weight: 300;
    font-size: 48px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.ListPreviewError p {
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.ListPreviewHeader {
    font-weight: bold;
    font-size: 36px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
}

.ListPreviewParagraph {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.ListPreviewParagraph > strong {
    font-weight: bold;
}

.ListPreviewTime {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #B9B5B4;
    margin-top: 40px;
}

.ListPreviewBody > img {
    margin-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}

.ListPreviewBody > p {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    max-width: 220px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
