.Button {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    background: #F2523A;
    border-radius: 10px;
    padding: 17px 32px;
    min-width: 168px;
}

.Button:hover {
    cursor: pointer;
}

.Button:focus {
    outline: none;
}

.Button.showNewWish {
    display: block;
    margin: 30px auto 0;
    background: transparent;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    padding: 0;
    border: 0;
}

.Button.showNewWish > img {
    vertical-align: bottom;
    margin-right: 15px;
}

.Button.addListSidebar {
    display: block;
    background: transparent;
    padding: 0;
    border: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    color: #B9B5B4;
}

.Button.addListSidebar svg {
    margin-right: 15px;
    vertical-align: bottom;
}

.Button.addListSidebar:hover svg path {
    fill: #B9B5B4;
}

.Button.addListSidebar:hover svg path {
    fill: #FFFFFF;
}

.Button.listWidget svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}

.Button.listWidget svg path {
    fill: #8A8A8A;
    transition: 150ms;
}

.Button.listWidget:hover svg path {
    fill: #F2523A;
}

.Button.listWidget {
    padding: 0;
    border: none;
    display: block;
    background: transparent;
    width: 85px;
    min-width: unset;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #ECECEC;
    margin-bottom: 30px;
}

.Button.listWidget > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}

.Button.colorPicker {
    width: 50px;
    height: 50px;
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    min-width: unset;
    transition: 100ms;
}

.Button.addListSidebar:hover {
    color: #FFFFFF;
}

.Button.widget {
    color: #8A8A8A;
    padding: 0;
    border: none;
    display: block;
    background: transparent;
    width: 35px;
    min-width: unset;
}

.Button.widget svg path {
    fill: #8A8A8A;
    transition: 150ms;
}

.Button.widget:hover svg path {
    fill: #000;
}

.Button.widget:not(:last-of-type) {
    margin-bottom: 10px;
}

.Button.share {
    background: #2A61A1;
    border-radius: 5px;
}

.Button.primary {
    background: #F2523A;
    transition: background 0.8s, box-shadow 135ms cubic-bezier(.4, 0, .2, 1);
    border: none;
    background-position: center !important;
}

.Button.primary:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
    box-sizing: border-box;
}

.Button.secondary:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
    box-sizing: border-box;
}

.Button.secondary {
    margin-left: 25px;
    border: none;
    transition: background 0.8s, box-shadow 135ms cubic-bezier(.4, 0, .2, 1);
    background: #B9B5B4;
    border-radius: 10px;
    background-position: center !important;
}
