.WishItem {
    display: flex;
    max-width: 100%;
    width: 100%;
    padding: 20px 10px 20px 0;
    border-bottom: 1px solid #F0F0F0;
    position: relative;
}

.WishItem:hover div:last-of-type {
    display: block;
}

.WishItem > div {
    width: 100%;
}

.WishItem:last-of-type {
    margin-bottom: 30px;
}

.WishItem > img {
    padding: 5px;
    padding-left: 0;
    margin-right: 20px;
    width: 110px;
    min-width: 110px;
    height: 110px;
}

.WishItemImg {
    padding: 5px;
    padding-left: 0;
    margin-right: 20px;
    width: 110px;
    max-width: 110px;
    height: 110px;
    object-fit: cover;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}

.WishItem .Title {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    padding-top: 25px;
    margin-bottom: 10px;
    text-align: left;
}

.WishItem a {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #BABABA;
    display: block;
    margin-bottom: 25px;
    text-decoration: none;
    text-align: left;
}

.WishItem a:hover {
    text-decoration: underline;
}

@media screen
and (max-width: 768px) {
    .WishItemImg {
        margin-right: 14px;
        width: 70px;
        max-width: 70px;
        height: 70px;
    }

    .WishItemImgMobile {
        width: 110px;
        height: 110px;
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 17px;
        display: block;
        min-width: 110px;
    }

    .WishItem {
        width: 100%;
    }

    .WishItem .Title {
        font-size: 12px;
        line-height: 14px;
        padding-top: 5px;
        margin-bottom: 5px;
        text-align: left;
    }

    .WishItem a {
        font-weight: 300;
        font-size: 9px;
        line-height: 11px;
    }

    .WishItem.WishItemAdd {
        display: block;
    }
}
