.Layout {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background: url('/imgbg.jpg');
}

.Layout main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

@media screen
and (max-width: 768px) {
    .Layout main {
        padding-left: 25px;
        padding-right: 25px;
    }
}
