.EventList {
    padding-bottom: 10px;
    padding-top: 30px;
    border-bottom: 1px solid #393939;
    display: flex;
    max-width: 612px;
    margin-left: auto;
    margin-right: auto;
}

.EventListTime {
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    color: #B9B5B4;
    display: block;
}

.EventList img {
    margin-right: 38px;
    padding-bottom: 20px;
}

.EventList div > p {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.EventList div > p > strong {
    font-weight: bold;
}

@media screen
and (max-width: 768px) {
    .EventList {
        padding: 15px 0;
    }

    .EventList div > p {
        font-size: 14px;
    }

    .EventList img {
        display: none;
    }
}
