.EventList {
    padding-bottom: 10px;
    padding-top: 30px;
    border-bottom: 1px solid #393939;
    display: flex;
    max-width: 612px;
    margin-left: auto;
    margin-right: auto;
}

.EventList img{
    margin-right: 38px;
}

.EventList > p {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.EventList > p > strong {
    font-weight: bold;
}

.EventList > p > span {
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    color: #B9B5B4;
    display: block;
}
