.ListCard {
    max-width: 690px;
    width: 100%;
    height: fit-content;
    padding: 10px;
    background: darkred;
    border-radius: 15px;
    position: relative;
}

.ListCard > .ListCardBody {
    border-radius: 15px;
    background: #FFFFFF;
    padding: 64px 106px 58px 106px;
}

.ListCard .CardHeader{
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    color: #000000;
    margin-bottom: 35px;
    display: block;
}

.ListCard.Empty {
    text-align: center;
    background: url('/images/bg3.jpg');
}
