.ListWidget {
    position: absolute;
    right: -125px;
    top: 0;
    width: 85px;
    display: block;
    background: transparent;
}

.ListWidget > a {
    text-decoration: none;
}

@media screen
and (max-width: 768px) {
    .ListWidget {
        bottom: -90px;
        display: flex;
        margin-bottom: 0;
        top: unset;
        right: 0;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        left: 0;
    }
}
